<!DOCTYPE html>
<html>
<head>
	<title>UserDashboard</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	

	<%= stylesheet_link_tag   'welcome','session', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'main','modernizr','application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	

	
	<header class="cd-header">
		<div id="cd-logo">
			<a href="#0">
				<!-- <%= image_tag('cd-logo.svg') %>  -->
				<span> Tracker </span> 
				<!-- Conoces alguien que nos necesite? -->
				
			</a>

		</div>

		<div class="cd-main-nav">
			<a id="headerbuy" class="buybutton1 red-btn" href="/welcome">Regresar</a>
			<a id="headerbuy" class="buybutton1 green-btn" href="/login">Ingresar</a>
		<div id="desktop_menu">
			<button class="js-menu-trigger sliding-menu-button desktop_menu green" type="button">
				MENU 
				<i class="fa fa-bars"></i>
			</button>
		</div>

		</div> 
		
	</header>


	<main class="cd-main-content">
		<%= yield %>

	</main> 
	
	
</body>
</html>

